.popup {
  position: absolute;
  z-index: 1000;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.popup--light {
  border-color: var(--light-border-color);
}

.popup--dark {
  border-color: var(--dark-border-color);
}

.text {
  text-align: center;
  font-size: var(--p-font-size);
}

.text--light {
  color: var(--light-text-color);
}

.text--dark {
  color: var(--dark-text-color);
}
