.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.counter--light {
  border-color: var(--light-border-color);
}

.counter--dark {
  border-color: var(--dark-border-color);
}

.count {
  font-size: var(--p-font-size);
}

.count--light {
  color: var(--light-text-color);
}

.count--dark {
  color: var(--dark-text-color);
}
