.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--light-border-color);
}

.container--dark {
  border-color: var(--dark-border-color);
}

.title {
  font-size: var(--h3-font-size);
}

.title--light {
  color: var(--light-heading-color);
}

.title--dark {
  color: var(--dark-heading-color);
}
