.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
}

.list--light {
  border-color: var(--light-border-color);
}

.list--dark {
  border-color: var(--dark-border-color);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.item--light {
  border-color: var(--light-border-color);
}

.item--dark {
  border-color: var(--dark-border-color);
}

.text {
  font-size: var(--p-font-size);
}

.text--light {
  color: var(--light-text-color);
}

.text--dark {
  color: var(--dark-text-color);
}
