.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text {
  font-size: var(--p-font-size);
}

.text--light {
  color: var(--light-text-color);
}

.text--dark {
  color: var(--dark-text-color);
}

.rating {
  font-size: var(--p-font-size);
}

.rating--light {
  color: var(--light-text-color);
}

.rating--dark {
  color: var(--dark-text-color);
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
}
