.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.container--light {
  border-color: var(--light-border-color);
  background-color: var(--light-section-bg);
}

.container--dark {
  border-color: var(--dark-border-color);
  background-color: var(--dark-section-bg);
}

.name {
  font-size: var(--p-font-size);
}

.name--light {
  color: var(--light-text-color);
}

.name--dark {
  color: var(--dark-text-color);
}
