.img {
  display: block;
  width: auto;
  height: 15rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.img--light {
  border-color: var(--light-img-border-color);
}

.img--dark {
  border-color: var(--dark-img-border-color);
}
